.board-container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.board {
  width: 60%;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.board__square {
  width: 4rem;
  height: 4rem;
  background: rgba(0, 0, 0, 0.37);
  display: flex;
  align-items: center;
  justify-content: center;
}
.white {
  background: white;
}
.moveable {
  position: relative;
}

.moveable::before {
  position: absolute;
  content: "";
  display: inline-block;
  background: rgba(24, 127, 168, 0.733);
  border-radius: 50%;
  width: 50%;
  height: 50%;
}
.kill {
  position: relative;
}
.kill::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}
